.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  border: 1px solid white;
  padding: 1em 2em;
  display: block;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 0.5em;
}

.button:hover {
  background-color: #303030;
}

.nextsection {
  margin-top: 1em;
}

.list {
  opacity: 0.5;
}
